<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

{% if answer %}
<div>{{ answer }}</div>
{% endif %}
<form action="{{ path('save_spy_site_request') }}" method="post">
    <input type="url" name="url" placeholder="https://www.yandex.ru">
    <button type="submit">Spy!</button>
</form>

</body>
</html>